<p>landing-page works!</p>

<div class="border border-x-black">
    <div class="flex justify-center">
        <div>
            <app-left-long-description></app-left-long-description>
        </div>
        <div class="ml-[16px]">
            <app-top-wide-stats></app-top-wide-stats>
            <div class="flex justify-between">
                <app-mid-left-question-count></app-mid-left-question-count>
                <app-mid-right-achievements></app-mid-right-achievements>
            </div>
            <app-mid-wide-submission-heatmap></app-mid-wide-submission-heatmap>
            <app-bottom-submission></app-bottom-submission>
        </div>
    </div>
</div>